/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */
/* ... */



/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
/* ... */



/* ===========================================
   Main
   =========================================== */

/* main styles here */
/* ... */


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */
