/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
}

/* deel 2: achtergronden */

* {
   background-color: #ccc; /* achtergrondkleur */
   background-image: url(../img/tile.png); /* link naar de afbeelding */
   background-position: left bottom; /* ook: center, waarde(n) in px of %... */
   background-repeat: no-repeat; /* ook: repeat, repeat-x, repeat-y */
   background-size: 100% 100%; /* ook: cover, contain, waarde(n) in px of %... */
}

body {
   background-color: #ccc; /* achtergrondkleur */
   background-image: url(../img/bg.png); /* link naar de afbeelding */
   background-position: left bottom; /* ook: center, waarde(n) in px of %... */
   background-repeat: no-repeat; /* ook: repeat, repeat-x, repeat-y */
   background-size: 100% 100%; /* ook: cover, contain, waarde(n) in px of %... */
}

body {
   font-family: Arial, Helvetica, sans-serif;
   text-shadow: #c22a94;
   color: #2a2dc2;
}



/* deel 3: lettertypes */


/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
